<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="msg">
    <input type="button" value="发表留言" @click="add">
    <br>
    <ul v-for="(mes,index) in message" :key="index">
        <li>{{mes}}<a href="javascript:;" @click="del(index)">删除</a></li>
    </ul>
    留言总数量：{{message.length}}
    <br>
    <input type="button" value="删除所有" @click="del_all" v-show="isShow">
</div>
<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            message:["苹果","香蕉"],
            msg:"",
            isShow:true,
        },
        methods:{
            del(index){
                this.message.splice(index, 1);
                if (!this.message.length){
                    this.isShow=false
                }
            },
            add(){
                                // 判断输入框是否有值  有值则添加
                let msg = this.msg;
                if (msg) {
                    // 默认添加到留言板的末尾
                    // this.message.push(this.msg);
                    // 添加到留言板的首部
                    this.message.unshift(this.msg);
                    this.msg = "";
                    this.isShow =true;
                }
            },
            del_all(){
                this.message=[];
                this.isShow = false
            },

        }
    })

</script>

</body>
</html>